body{
    background-color: var(--shape-background);

}

#app{
    display: grid;
    grid-template-columns: 32.79% 67.21%;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    margin-inline: 2rem;
}

aside{
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: end;
    position: relative;

        & .image-container{
            background-image: url(../assets/img/Background.png);
            height: 97vh;
            width: 25rem;
            max-width: 25rem;

            background-size: cover;
            & img{
                margin-top: 2rem;
                margin-left: 2rem;
                height: 3rem;
                width: 3rem;
            }



            & h1{
                font: var(--logo);
                color: var(--pink);
                margin-left: 2rem;
        
            }
        
            & p{
                font: var(--body-md-regular);
                color: var(--text-heading);
                margin-left: 2rem;
                margin-top: 0.25rem;
            }

        }
      
      
      
    }

   
           
       
    

  



main{
    background-color: var(--shape-body);
    box-sizing: border-box;
    padding: 5rem 8.125rem;
    overflow: auto;

    & > h1{
        font: var(--heading-md);
        color: var(--text-heading);
        margin-bottom: 2.5rem;
        
    }

    & legend{
        display: flex;
        gap: 0.75rem;
        align-items: center;

        margin-bottom: 1.5rem;
        & h1{
            color: var(--text-heading);
          font: var(--heading-sm);
        }
        & svg path{
            height: 1.5rem;
            width: 1.5rem;
            fill: var(--input-placeholder);
        }
    }

    & fieldset{
        border: none;
        max-width:35rem;

        & label{
            color: var(--text-body);
            font: var(--body-sm-regular);
            display: block;


        }

        & label{
margin-block: 1rem 0.75rem;
        }
        & input, textarea{
            width: 100%;
            height: 3rem;
            border-radius: .5rem;
            border: 1px solid var(--input-stroke);
            background-color: var(--input-base);
            color: var(--input-placeholder);
            box-sizing: border-box;
            padding-left: 1rem;
            padding-block: .75rem;
        }

        & textarea{
            height: 8.5rem;
        }

        & input::-webkit-calendar-picker-indicator {
     opacity: 0;
     
        }
    }


}

.input-wrapper{            

    display: flex;
    flex: 1fr;
    gap: 1rem;
}

.input-item{
    width: 100%;
    display: flex;
    flex-flow: column;
    position: relative;
}


.tipo-wrapper{
    margin: 0;
}


.tipo-container{
    width: 100%;
    display: flex;
    position: relative;
    height: 3rem;
    border-radius: .5rem;
    border: 1px solid var(--input-stroke);
    background-color: var(--input-base);
    color: var(--input-placeholder);
   box-sizing: border-box;
   padding-block: 0.25rem;
   padding-inline: 0.3125rem;
}



#tipo{
    display: none;
}

.tipo-wrapper{
    cursor: pointer;
}

.tipo{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.presencial{
    box-sizing: border-box;
    padding-inline: 1.125rem;
    display: flex;
    gap: 0.5rem;
    width: 100%;
    background-color: var(--shape-button);
    & svg{
        width: 1rem;
        height: 1rem;
    }

    & svg path{
        fill: var(--brand-light);
    }

    & h1{
        font: var(--body-sm-semi);
        color: var(--text-heading);
    }


}

.online{
    box-sizing: border-box;
    padding-inline: 1.125rem;
    display: flex;
    gap: 0.5rem;
    width: 100%;
    & svg{
        width: 1rem;
        height: 1rem;
    }

    & svg path{
        fill: var(--input-placeholder);
    }

    & h1{
        font: var(--body-sm-semi);
        color: var(--text-body);
    }
}


#tipo:checked + .tipo-wrapper  .presencial{
    background-color: var(--input-base);
    & svg path{
        fill: var(--input-placeholder);
    }

    & h1{
        font: var(--body-sm-semi);
        color: var(--text-body);
    }
}

#tipo:checked + .tipo-wrapper  .online{
    background-color: var(--shape-button);

    & svg path{
        fill: var(--brand-light);
    }

    & h1{
        font: var(--body-sm-semi);
        color: var(--text-heading);
    }
}






 /* 
    & .switch{
     
        position: absolute;
       width: 100%;
       height: 2.9rem;
        border-radius: .5rem;
        bottom: -14px;
        background-color: var(--input-base);
        border: 1px solid var(--input-stroke);

        bottom: -12px;
        cursor: pointer;

        box-sizing: border-box;

        & svg{
           position: absolute;
           margin-block: 12px;
           margin-left: 18px;
           width: 1rem;
           height: 1rem;
        }

        & svg path{
            fill: var(--brand-light)
        }

    
    }

   & .switch::before{
        position: absolute;
       content: "Presencial";
       text-align: center;
       justify-content: center;
       box-sizing: border-box;
       padding-top: 0.45rem;
       padding-left: 0.5rem;
       font: var(--body-sm-semi);
       color: var(--text-heading);
       margin-top: 3px;
        margin-left: 4px;
        height: 85%;
        width: 50%;
        background-color: var(--shape-button);
        border-radius: 5px;

       
    }
        */




     /* 
    input:checked + .switch::before, input:checked + label > svg{
        background-color: var(--input-base);
        color: var(--text-body);

        & path{

            fill: var(--text-body);
        }


    }

    input:checked + label > .online{
        background-color: black;
    }

    
    #tipo{
        display: none;
    }
}
 */ 
